/*����Դ��,��ʾ�õĴ��롣Դ����Ψһ���ص�ַ: http://www.bootstrapmb.com/item/6896�����˱�עֻ��������ʾվ�����ص�Դ�벻��������*/body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: rgb(30,30,30);/*����Դ��,��ʾ�õĴ��롣Դ����Ψһ���ص�ַ: http://www.bootstrapmb.com/item/6896�����˱�עֻ��������ʾվ�����ص�Դ�벻��������*/